__pycache__
.DS_Store
._*
*.pkl
*.egg-info/
*.out

sshfs.sh

/data
/condor
/logs
/.temp
2024-*/

# or git. 
# use 'git rm --cached -r *.aux *.log *.dvi and so on' to remove the trached extensions (those already commited) by git
*.aux
*.log
*.dvi
*.tex~
*.blg
*.bbl
*.auxlock
*.fdb_latexmk
*.synctex.gz
*.fls
paper/main.pdf
