# --------- pytorch --------- #
torch
torchvision
pytorch-ignite
torch-dct

# --------- hydra --------- #
hydra-core
hydra-colorlog
omegaconf

# --------- loggers --------- #
tqdm
tensorboardX

# --------- visualization --------- #
scikit-image
matplotlib

# --------- others --------- #
deepspeed
einops