# --------- pytorch --------- #
torch
torchvision
pytorch-ignite

# --------- hydra --------- #
hydra-core
hydra_colorlog
omegaconf

# --------- loggers --------- #
tqdm
tensorboardX

# --------- visualization --------- #
scikit-image
matplotlib

# --------- others --------- #
deepspeed
einops